In [1]:
import pandas as pd
data = pd.read_csv("../../../../../bigcontest/data/preprocessed/dat3.csv")

In [3]:
data.index = data["user_id"]

In [7]:
data.drop("user_id", axis = 1, inplace = True)

In [8]:
data

,CompleteIDCertification,EndLoanApply,GetCreditInfo,Login,OpenApp,SignUp,StartLoanApply,UseDSRCalc,UseLoanManage,UsePrepayCalc,ViewLoanApplyIntro
user_id,,,,,,,,,,,
1,0,0,1,1,0,0,0,0,1,0,0
7,0,0,1,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,0
11,1,1,1,0,1,0,1,0,1,1,1
12,1,1,1,1,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
879693,1,1,1,0,1,0,1,0,1,0,1
879694,1,1,0,0,0,0,1,0,0,0,1
879695,1,1,0,0,0,0,1,0,0,0,1
879696,1,1,1,1,1,0,0,0,1,0,1
879698,0,0,0,0,1,0,1,0,0,0,1

In [9]:
data.unique

AttributeError: 'DataFrame' object has no attribute 'unique'